
body{
    margin: 0 auto 0 auto;
    box-sizing: border-box;
}
.wrap{
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;
}

.header,
.footer{
    height: 10vh;
    min-height: 10vh;
    max-height: 10vh;
    box-sizing: border-box;
    overflow: scroll;
    background-color: #0076d1;
    color: #fff;
}

.main{
    height: 80vh;
    min-height: 80vh;
    max-height: 80vh;
    overflow: scroll;
    box-sizing: border-box;
}

::-webkit-scrollbar{height:5px;}/*バーの太さ*/
::-webkit-scrollbar-track{background: #ffffff;}/*バーの背景色*/
::-webkit-scrollbar-thumb{background:#0076d1;}/*バーの色*/