{{ define "main" }}
<div class="wrap">
    <header class="header">
        <h1>{{ .Site.Title }}</h1>
    </header>  
    
        <main class="main">
                {{ range .Sections }}
            <h2 class="sectionsTitle">
                {{.Title}}
            </h2>
            {{ range .Pages.ByDate.Reverse}}
                <article>
                    <h3>
                        <a href="{{ .Permalink }}">
                            {{ .Title }}
                        </a>
                    </h3>
                        {{ .Summary }} 
                        <a href="{{ .Permalink }}">
                           (全文はこちら)
                        </a>
                </article>
            {{ end }}
            {{end}}
        </main>
    
    <footer class="footer">
        Copyright &copy; 2019- HOTTA Tatsuya All Rights Reserved.
    </footer>
</div>

{{ end }}



